/* Banner */
.bannerBar {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
  }
  
  /* Estilo da imagem de preview */
  .previewImg {
    width: 30%;
    max-height: 200px; /* Limita a altura */
    object-fit: contain;
    margin: 20px auto 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }  
  
  /* Paper de Upload */
  .uploadPaper {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column; /* força os elementos a alinhar verticalmente */
    align-items: center; /* centra horizontalmente */
  }
  
  .uploadPaper input[type="file"] {
    display: block;
    margin: 0 auto 20px;
    padding: 12px;
    border: 2px solid #1976D2;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f0f8ff;
    max-width: 100%;  /* Garantir que o input de arquivo não ultrapasse a largura do banner */
  }
  
  .updateBtn {
    background-color: #4CAF50;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 12px 48px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 8px rgba(76, 175, 80, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 40px; /* <- aqui aumentaste de 20px para 40px */
  }
  
  
  .updateBtn:hover {
    background-color: #388E3C;
    box-shadow: 0 4px 16px rgba(76, 175, 80, 0.2);
  }
  
  .updateBtn:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
  }
  
  /* Resultados */
  .resultPaper {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 40px;
  }
  
  .resultTitle {
    font-weight: 700;
    font-size: 1.2rem;
    color: #1976D2;
    margin-bottom: 10px;
  }
  
  .resultText {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .resultText strong {
    font-weight: bold;
  }
  
  /* Lista de probabilidades */
  ul {
    text-align: left;
    margin-top: 10px;
    list-style-type: disc;
    padding-left: 40px;
  }
  
  ul li {
    font-size: 1rem;
    color: #333;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .bannerBar {
      height: 200px;
    }
  
    .previewImg {
      width: 100%;  /* Ajustar a imagem para a largura completa */
    }
  
    .uploadPaper {
      padding: 20px;
    }
  
    .updateBtn {
      width: 100%;
    }
  
    .resultPaper {
      padding: 20px;
    }
  }
  